*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 40vh;
    background-color: #ecbbc5;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}